
@{
    ViewBag.Title = "Index";
}
<h2> Welcom Restaurant </h2>
<body style="background-image:url('../../images/backgrond.jpg');">

    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("LogOut", "User")'" value="LogOut" class="btn btn-default" />
    </div>
</body>
