
@{
    ViewBag.Title = "Admin";
}
<h2> Admin System </h2>
<body style="background-image:url('../../images/666.jpg');">




    <!-- Search -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("Index", "Admin")'" value="Users" class="btn btn-info" />
    </div>

    <!-- Meal Controller -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("Index", "Meal")'" value=" Manage Meals" class="btn btn-info" />
    </div>

    <!-- Employee Controller -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("Index", "Employee")'" value="Manage Employee" class="btn btn-info" />
    </div>


    <!-- Log out -->
    <div class="form-group">
        <input type="button" onclick="location.href='@Url.Action("LogOut", "User")'" value="LogOut" class="btn btn-primary" />
    </div>




</body>
